*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --bg:       #0c0c0c;
  --surface:  #0c0c0c;
  --surface2: #141414;
  --border:   #222222;

  --text:       #d8d8d8;
  --text-dim:   #777777;
  --text-faint: #444444;

  --accent: #ffffff;
  --danger: #ff3535;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--border); }
